<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.mono.studydb.dao.DynamicSelectDao">
    <select id="subqueryInList" parameterType="List" resultType="hashmap">
        SELECT NAME
        ,CLASS
        ,GRADE
        ,KOR
        ,ENG
        ,MAT
        FROM EXAM_RSLT
        WHERE CLASS IN
        <foreach collection="list" index="index" item="classId" open="(" close=")" separator=",">
            #{classId}
        </foreach>
    </select>

    <select id="findGradeWithClassLike1" parameterType="string" resultType="hashmap">
        SELECT NAME
        ,CLASS
        ,GRADE
        ,KOR
        ,ENG
        ,MAT
        FROM EXAM_RSLT
        WHERE GRADE = '1'
        <if test='name != null'>
            AND NAME like #{name}
        </if>
        AND ROWNUM = 1
    </select>

    <select id="findGradeWithClassLike2" parameterType="hashmap" resultType="hashmap">
        SELECT NAME
        ,CLASS
        ,GRADE
        ,KOR
        ,ENG
        ,MAT
        FROM EXAM_RSLT
        WHERE 1 = 1
        <if test='grade != null'>
            AND GRADE <![CDATA[>=]]> #{grade}
        </if>
        <if test='name != null'>
            AND NAME like #{name} || '%'
        </if>
    </select>

    <select id="findChooseExam" parameterType="hashmap" resultType="hashmap">
        SELECT NAME
        ,CLASS
        ,GRADE
        ,KOR
        ,ENG
        ,MAT
        FROM EXAM_RSLT
        WHERE 1 = 1
        <choose>
            <when test='name != null'>
                AND NAME like #{name}
            </when>
            <when test='grade != null'>
                AND GRADE like #{grade}
            </when>
            <otherwise>
                AND GRADE  <![CDATA[>=]]> 1
            </otherwise>
        </choose>
    </select>

    <select id="findExamTrim" parameterType="hashmap" resultType="hashmap">
        SELECT NAME
        ,CLASS
        ,GRADE
        ,KOR
        ,ENG
        ,MAT
        FROM EXAM_RSLT
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="name != null">
                NAME like #{name}
            </if>
            <if test="grade != null">
                GRADE like #{grade}
            </if>
        </trim>
    </select>

</mapper>
