<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.mono.studydb.dao.MusicJoinDao">

    <resultMap id="selectArtistAlbumMap" type="Album">
        <id column="album_Id" property="albumId" jdbcType="VARCHAR" />
        <result column="album_seq" property="albumSeq" jdbcType="INTEGER" />
        <result column="album_title" property="albumTitle" jdbcType="VARCHAR" />
        <result column="open_date" property="openDate" jdbcType="VARCHAR" />
        <association property="artist" javaType="Artist">
            <id column="mst_id" property="mstId" jdbcType="VARCHAR" />
            <result column="mst_name" property="mstName" jdbcType="VARCHAR" />
            <result column="debut_date" property="debutDate" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <select id="selectArtistByPrimaryKey1" resultMap="selectArtistAlbumMap" parameterType="string">
        SELECT A.MST_ID MST_ID
        , A.MST_NAME MST_NAME
        , A.DEBUT_DATE DEBUT_DATE
        , B.ALBUM_ID ALBUM_ID
        , B.ALBUM_SEQ ALBUM_SEQ
        , B.ALBUM_TITLE ALBUM_TITLE
        , B.OPEN_DATE OPEN_DATE
        FROM ARTIST A , ALBUM B
        WHERE A.MST_ID = B.MST_ID
        AND B.MST_ID = #{mst_id , jdbcType=VARCHAR}
    </select>

</mapper>